<div id="main-menu" class="main-menu">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
    <p>    </p>
    <a href="https://www.ikezawa.com/JP" class="main-menu">JP</a>
    <p> / </p>
    <a href="https://www.ikezawa.com/EN" class="main-menu">EN</a>
  </ul>
</div>